<app-header (featureSelected)="onNavigate($event)"></app-header>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <app-shopping-list *ngIf="loadedFeature === 'shopping-list'"></app-shopping-list>
            <app-recipes *ngIf="loadedFeature === 'recipe'"></app-recipes>
        </div>
    </div>
</div>

<br>
<br>
<br>
<div class="test-area">
    <p *appUnless="isFalse">This is only show when false</p>
    <p appBasicHighlight>Styling with basic highlight directive</p>
    <p appBetterHighlight [defaultColor]="'red'" hightlightColor="orange">Styling with basic highlight directive</p>
</div>


<div [ngSwitch]="value">
    <p *ngSwitchCase="5">Value is 5</p>
    <p *ngSwitchCase="10">Value is 10</p>
    <p *ngSwitchCase="100">Value is 100</p>
    <p *ngSwitchDefault>Default value</p>
</div>